# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore VsCode customizations
.vscode

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore MacOS file
.DS_Store
